html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body,head{
	font-family: 微軟正黑體;
}
.clearfix{
  clear: both;
}
.wrap{
	width: 1024px;
	margin: 0 auto;
}
/*頁首*/
.header{
	background-color: #353535;
	opacity: 0.9;
	z-index: 1;
	position: absolute;
	width: 1024px;
}
.header_logo a{
	display: block;
	float: left;
	width: 170px;
	height: 36px;
	background-image: url(..//image/header_logo.png);
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	margin:19.25px 37px 19.25px 37px;
}
.header_menu{
	float:right;
	margin-right:14.125px;
}
.header_menu li{
	float: left;
}
.header_menu li a{
	display: block;
	text-decoration: none;
	color: #ffffff;
	font-size: 21px;
	padding-left: 22.875px;
	padding-right: 22.875px;
	padding-bottom: 21.25px;
	padding-top: 24px;
}
.header_menu li a:hover{
	color:#00cc99;
	border-bottom: 7px solid #00cc99;
}
.index_banner{
	position: relative;
	height: 550px;
	background-image: url(..//image/index_banner.png);
	z-index: 0;
}
.index_banner_paragraph{
	position: relative;
	top: 180px;
	margin-left: 37px;
}
.index_banner_paragraph p{
	color:#00cc99;
	font-size: 50px;
	line-height: 70px;
	font-weight: bold;
}
.index_banner_paragraph p span{
	color: white;
}
.index_banner_paragraph a{
	display: block;
	margin-top:30px;
	width: 170px;
	padding:13px 35px 13px 35px;
	color: white;
	text-decoration: none;
	font-size: 24px;
	background-color: #00cc99;
	border-radius: 10px;
	font-weight: bold;
}
/*內容*/
.course{
	margin:28.25px 37px 53px 37px;
}
.course h2{
	float: left;
	font-size: 36px;
	color: #00cc99;
	font-weight: bold;
}
.course h2 span{
	font-size: 20px;
	color: #d4d4d4;
}
.course a{
	float: right;
	font-size: 16px;
	margin-top: 6px;
	color: #00cc99;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	border: 2px solid #00cc99;
	border-radius: 5px;
}
.course_outline {
	float: right;
	margin-bottom: 55px;
	margin-top: 10px;
}
.course_outline li{
	text-align: center;
	width: 300px;
	float: left;
	margin-right: 14px;
	box-shadow: 0 10px 10px 0px rgba(0,0,0,0.3) 
}
.course_outline li img{
	margin-top: 23.5px;
	margin-bottom: 12px;
}
.course_outline li p{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 23.5px;
}
.course_outline li span{
	font-size: 17px;
	text-align: left;
	display: block;
	margin-bottom: 20.75px;
	padding: 0px 13.25px 0px 13.25px;
	color: #b2b2b2;
	line-height: 21px;
}
.course h3{
	font-size: 36px;
	color: #00cc99;
	font-weight: bold;
}
.course h3 span{
	font-size: 20px;
	color: #d4d4d4;
}
.course_comparison{
	margin:28.25px 0px 53px 0px;	
}
.course_project{
	text-align: center;
	width: 119px;
	padding-top:15px;
	padding-bottom: 15px;
	
}
.course_hex{
	width: 389px;	
	padding-top:15px;
	padding-bottom: 15px;
}
.course_online{
	width: 236.75px;
	text-align: center;
	padding-top:15px;
	padding-bottom: 15px;
}
.course_entity{
	width: 206px;
	text-align: center;
	padding-top:15px;
	padding-bottom: 15px;
}
.course_mark{
	color: #00cc99;
}
.course_comparison tr th{
	background-color:rgba(0,0,0,.1);
	color: black;
	font-weight: bold;
}
.course_comparison tr td{
	text-align: center;
	border-bottom: 1px solid #dddddd;
	font-weight: bold;
	padding-top:15px;
	padding-bottom: 15px;
}
/*留言*/
.message{
	background-color: rgba(0,0,0,.1);
	/*opacity: 0.6;*/
}
.message p{
	float: left;
	margin-left: 37px;
	padding-bottom: 120px;
	padding-top: 120px;
	font-size: 30px;
	font-weight: bold;
	line-height: 60px;
}
.message_form{
	float: right;
	margin-right: 37px;
	margin-top: 125px;
}
.message_form_submit{
	width: 140px;
	font-size: 16px;
	padding: 10px;
	float: right;
	border-radius: 5px;
	font-weight: bold;
	background-color: #00cc99;
	color: white;
	border: 0px solid #00cc99;
	cursor: pointer;
}
.message_form_name{
	width: 400px;
	font-weight: bold;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	margin-bottom: 10px;
}
.message_form_mail{
	width: 400px;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
}
/*頁尾*/
.footer{
	background-color: #353535;
	opacity: 0.9;
}
.footer_logo img{
	padding: 17.25px 37px 17.25px 37px;
}
.footer_community{
	float: right;
	margin-right: 37px;
}
.footer_community li{
	float: left;
}
.footer_community li a{
	display: block;
	padding-left: 45.75px;
	padding-top:28.5px;
	padding-bottom: 28.5px;
}
.footer_fb{
	display: inline-block;
}
.footer_tw{
	display: inline-block;
}
.footer_ig{
	display: inline-block;
}
.footer_community li a span{
	position: absolute;
	visibility: hidden;
	color: white;
}
.footer_fb:hover .footer_fb_display{
	visibility: visible;
}
.footer_tw:hover .footer_tw_display{
	visibility: visible;
}
.footer_ig:hover .footer_ig_display{
	visibility: visible;
	font-size: 14px;
}
